body {
	overflow-x: visible !important;
}

.seg {
	border: 1px solid #c00;
	border-radius: 5px; 
	background: #c00;
	color: #fff;
}

.seg .tooltipster-content {
	font-family: Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
	padding: 8px 10px;
	overflow: hidden;
}
